




	<div id="menu-wrapper">
		<ul id="menu">
			<li class="current_page_item"><a href="/home"><span>Homepage</span></a></li>
			<li><a href="/about"><span>About</span></a></li>

			<li><a href="/service"><span>Service</span></a></li>
			<li><a href="/contact"><span>Contact</span></a></li>
			<li><a href="/register"><span>Register</span></a></li>
			
						<li><a href="/users/upload"><span>Upload pic.</span></a></li>

			<li><a href="/login"><span>Login</span></a></li>

			<!--<li><a href="/mycookie"><span>cookie demo</span></a></li>-->

			
		</ul>
		<script type="text/javascript">
			$('#menu').dropotron();
		</script>
	</div>
	<!-- end #menu -->
	
