




	<div id="menu-wrapper">
		<ul id="menu">
			<li class="current_page_item"><a href="/success"><span>Homepage</span></a></li>
			<li><a href="/logout"><span>Logout</span></a></li>
		</ul>
		<script type="text/javascript">
			$('#menu').dropotron();
		</script>
	</div>
	<!-- end #menu -->
	
